version: "3.8"

services:
  antmedia:
    image: antmedia/ant-media-server:latest
    container_name: antmedia
    restart: unless-stopped

    environment:
      - AMS_SERVER_MODE=standalone
      - JAVA_OPTS=-Xms2G -Xmx4G
      - ANT_MEDIA_IP=0.0.0.0

    volumes:
      - antmedia_data:/usr/local/antmedia

    ports:
      # Web Panel / REST
      - "5080:5080"

      # WebRTC
      - "5443:5443"
      - "1935:1935"
      - "5554-5560:5554-5560/udp"

    labels:
      # Traefik HTTP Router
      - "traefik.enable=true"
      - "traefik.http.routers.antmedia.rule=Host(`ams.livelesson.name.ng`)"
      - "traefik.http.routers.antmedia.entrypoints=websecure"
      - "traefik.http.routers.antmedia.tls=true"
      - "traefik.http.services.antmedia.loadbalancer.server.port=5080"

volumes:
  antmedia_data:
