services:
  ant-media:
    image: jamiemac96/ant-media-server-community:latest
    restart: unless-stopped
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - antmedia-data:/usr/local/antmedia
    ports:
      - "5080:5080"
      - "1935:1935"
      - "5000-5005:5000-5005/udp"
      - "42000-42010:42000-42010/udp"
    networks:
      - coolify
