version: "3.8"

services:
  ant-media:
    image: jamiemac96/ant-media-server-community:latest
    container_name: ant-media
    restart: unless-stopped

    volumes:
      - antmedia-data:/usr/local/antmedia
      - antmedia-logs:/usr/local/antmedia/log

    ports:
      - "5080:5080"
      - "5443:5443"
      - "1935:1935"
      - "5000-5005:5000-5005/udp"
      - "42000-42010:42000-42010/udp"

    networks:
      - coolify

volumes:
  antmedia-data:
  antmedia-logs:

networks:
  coolify:
    external: true
