version: "3.8"

services:
  antmedia:
    image: antmedia/ant-media-server:latest
    container_name: ant-media
    restart: unless-stopped

    environment:
      - SERVER_MODE=standalone
      - ANT_MEDIA_GIT_BRANCH=master
      - JAVA_OPTS=-Xms1g -Xmx2g
      # REQUIRED: your public IP or domain
      - AMS_PUBLIC_IP=65.20.109.33

      # OPTIONAL (Enterprise only)
      # - LICENSE_KEY=YOUR_LICENSE_KEY

    ports:
      - "5080:5080" # Web UI / REST
      - "1935:1935" # RTMP
      - "5443:5443" # HTTPS / WebRTC
      - "5554:5554" # WebRTC signaling
      - "40000-65535:40000-65535/udp" # WebRTC media

    volumes:
      - antmedia-data:/usr/local/antmedia

volumes:
  antmedia-data:
